#name-paragraph{
    max-width: 60%;
    align-self: center;
    margin: 1rem;
}
#main-image{
    width: 10rem;
    margin: 1rem;
}
.main-div, .main-div-bottom{
    border: 0.4rem solid var(--terciary);
    border-radius: 15px;
    margin-top: 2rem;
    padding: 1rem
}
.main-div-bottom{
    margin-bottom: 2rem;
}
  