:root{
  font-size: 20px;
  --primary: rgb(180, 184, 190);
  --secondary: rgb(139, 145, 154);
  --terciary: rgb(17, 21, 42);
  background-color:  var(--primary);
  color: var(--terciary)
}
header{
  background-color : var(--secondary);
  height: 4rem;
  padding: 2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
main{
  min-height: calc(100vh - 8rem);
}
.wrapper{
  width : 80%;
  margin: auto;
}
footer{
  background-color : var(--secondary);
  max-height: 4rem;
  color : var(--terciary);
  padding: 2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
#logo{
  width : 2rem;
  height: 2rem;
}
.nav-links{
  font-size: 24;
  text-align: center;
  align-self: center;
  margin: 1rem;
  color: var(--terciary);
  display: flex;
}
.nav-links a, .nav-links button{
  margin: 1rem;
}
h1{
  font-size: 2rem;
}
.title-p{
  font-size: 1.5rem;
  margin: 1rem;
  margin-left: 0;
}
.center{
  margin: auto;
  align-self: center;
  text-align: center;
}
.flex{
  display : flex;
  flex-wrap: wrap;
}
.flex-column{
  display : flex;
  flex-direction : column;
  justify-content: space-between;
}

/* Hidden */
.mobile-header{
  display: none;
}
#mobile-menu{
  display: none;
}

/* Responsive */
@media (max-width : 1100px){
  .nav-links{
    margin: 0;
    justify-content: space-between;
  }
  .nav-links a, .nav-links button{
    margin: 0.8rem;
  }
}
@media (max-width : 850px){
  header{
    padding: 0.1rem;
    justify-content: center;
  }
  .default-header{
    display: none;
  }
  .mobile-header{
    display: flex;
  }
  .wrapper{
    width : 90%;
  }
  #logo{
    width : 2rem;
    height: 2rem;
    align-self: center;
  }
  #main-para{
  max-width : unset; 
  }
  h1{
    font-size: 1.5rem;
  }
  footer #logo{
    display: none;
  }
}
